# Data
*.parquet
*.csv
ny_taxi*/

# DB
*.duckdb

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

.bruin.yml
logs/runs
logs/*.log