# Data
*.parquet
ny_taxi*/

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
