# Data
*.parquet
*.csv
*.csv.gz
ny_taxi*/
*.crc
*_SUCCESS

# DB
*.duckdb
*.db

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

.bruin.yml
logs
logs/runs
logs/*.log